<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Contact</title>
</head>
<body>
    <header>
        <nav>
            <h1>logo</h1>
            <h1>ContactPagina</h1>
            <ul>
                <li><a href="index.html">Hoofdpagina</a></li>
                <li><a href="informatie.html">Informatie</a></li>
                <li><input type="search" name="searchTerm" id="searchInput" placeholder="Zoek..."></li>
            </ul>
        </nav>
    </header><hr>
    <aside>
        <section id="contact">
        <h1>Wie wil jij contacteren?</h1>
        <form class="YassineBContacteren"><action="https://www.example.com" method="GET">
        <input type="checkbox" name="plaats" value="Webdesigner">Webdesigner<br>
        <input type="checkbox" name="plaats" value="Organisator">Organisator<br>
        </form><hr>
        <article class="Yassine.B-left">
            <h3>Type hier je melding...</h3>
            <form action="#" class="contactform">
            <input type="text" name="name" placeholder="voornaam"><br>
            <input type="text" name="name" placeholder="naam"><br>
            <input type="email" name="email" placeholder="email"><br>
            <input type="password" name="password" placeholder="wachtwoord" size="20"><br>
            <textarea name="message" id="message" placeholder="melding" rows="6"></textarea></br>
            <input type="submit" value="verzenden" class='contactbtn'>
            </form>
        </article><hr>
        <h3>Contact info...</h3>
        <article class="Yassine.B-right">
            <p>email: <a href="https://www.ap.be/">s130473@ap.be</a></br>gsm nr: +32 488 / 90 43 20</p>
        </article>
    </section>
</aside>
    <footer>
        Copyright&copy;IT-project&copy; 
    </footer>
</body>
</html>