<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <title>Projecten</title>
</head>
<body id="home">
    <header>
        <h1 class="titel">Kies een project</h1>
    </header><hr>
    <main>
        <section>
            <article> 
                <figure>
                    <h3>Nationale Bank</h3>
                <div class="container">
                    <img src="assets/images/nationalebank.png" alt="Nationale Bank">
                    <div class="overlay">
                        <div class="deelnemen">Je kan niet deelnemen aan dit project!</div>
                    </div>
                </div>
                    <figcaption><p><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Ffreebiesupply.com%2Flogos%2Fnationale-bank-van-belgie-logo%2F&psig=AOvVaw3FWvRwFmMw2NMjDN7_GR56&ust=1649242733552000&source=images&cd=vfe&ved=0CAcQjRxqFwoTCPD41Yvi_PYCFQAAAAAdAAAAABAV" target="_blank">Bron Foto</a></p></figcaption>
                </figure>
            </article>

            <article> 
                <figure>
                    <h3>Magic The Gathering</h3>                <div class="container">
                        <img src="assets/images/mtg.png" alt="Magic The Gathering">
                        <div class="overlay">
                            <div class="deelnemen">Je kan niet deelnemen aan dit project!</div>
                        </div>
                    </div>
                    <figcaption><p><a href="https://play.google.com/store/apps/details?id=com.wizards.mtga&hl=nl&gl=US" target="_blank">Bron Foto</a></p></figcaption>
                </figure>
            </article>

            <article> 
                <figure>
                    <h3>The One</h3>
                    <div class="container">
                        <img src="assets/images/theOne.jpg" alt="The One">
                        <div class="overlay">
                            <div class="deelnemen">Je kan niet deelnemen aan dit project!</div>
                        </div>
                    </div>
                    <figcaption><p><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.tolkienwinkel.nl%2Fcontents%2Fnl%2Fd130.html&psig=AOvVaw2oRvXB7C-sEdf6ML-3IN1F&ust=1651311487053000&source=images&cd=vfe&ved=0CAkQjRxqFwoTCKixyeb8uPcCFQAAAAAdAAAAABAE" target="_blank">Bron Foto</a></p></figcaption>
                </figure>
            </article>

            <article> 
                <figure>
                    <a href="/informatie" target="_blank"><h3>Lego Masters</h3></a> 
                    <a href="/informatie" target="_blank"><img src="assets/images/legomasters.jpeg" alt="Lego Masters"></a>
                    <figcaption><p><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.lego.com%2Fnl-be%2Fpage%2Flego-masters&psig=AOvVaw3sXfUAEN4aupkJfJFsZYHQ&ust=1649242542799000&source=images&cd=vfe&ved=0CAcQjRxqFwoTCODoip_m_PYCFQAAAAAdAAAAABAE" target="_blank">Bron Foto</a></p></figcaption>
                </figure>
            </article>

            <article> 
                <figure>
                    <h3>Fortnite</h3>
                    <div class="container">
                        <img src="assets/images/fortnite.jpg" alt="Fortnite">
                        <div class="overlay">
                            <div class="deelnemen">Je kan niet deelnemen aan dit project!</div>
                        </div>
                    </div>
                    <figcaption><p><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fnintendoeverything.com%2Fnintendo-essentially-confirms-fornite-for-switch-by-uploading-update-data%2F&psig=AOvVaw37_FiQ-TXS1mSkZ6QYJ-pt&ust=1651311318933000&source=images&cd=vfe&ved=0CAkQjRxqFwoTCMjot5b8uPcCFQAAAAAdAAAAABAE" target="_blank">Bron Foto</a></p></figcaption>
                </figure>
            </article>

            <article> 
                <figure>
                    <h3>Fifa</h3>
                    <div class="container">
                        <img src="assets/images/fifa.jpg" alt="Fifa">
                        <div class="overlay">
                            <div class="deelnemen">Je kan niet deelnemen aan dit project!</div>
                        </div>
                    </div>
                    <figcaption><p><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fappadvice.com%2Fapp%2Ffifa-football-entertainment%2F756904853&psig=AOvVaw0kdMWaw1oxx7ywJma2Qcip&ust=1651311315548000&source=images&cd=vfe&ved=0CAkQjRxqFwoTCMje6pT8uPcCFQAAAAAdAAAAABAE" target="_blank">Bron Foto</a></p></figcaption>
                </figure>
            </article>
        </section>
    </main>
    <footer>
        <p>&copy;YABA - Lego Masters</p>
    </footer>
</body>
</html>