<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Website</title>
</head>
<body>
    <header>
        <nav>
            <img src="/views/assets/img/LOGOYABA.PNG"> 
            <h1>Hoofdpagina</h1>
            <ul>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="informatie.html">Informatie</a></li>
                <li><input type="search" name="searchTerm" id="searchInput" placeholder="Zoek..."></li>
            </ul>
        </nav>
    </header><hr>
    <main>
        <section>
        <article>
        <h1>Minifigs</h1>
        <p>Minifigs zijn ontworpen om als kleine mensen in de LEGO-wereld te leven. Deze omvatten het onderlichaam met  beweegbare benen bij de heup, het bovenlichaam, de armen gescheiden in één stuk, de vrije armen (meestal geel) en het hoofd met een gezicht. De benen, heupen, romp en  armen kunnen in verschillende kleuren worden geleverd. Het lichaam wordt vaak bedrukt om kleding na te bootsen. In de loop van de tijd zijn er verschillende items ontwikkeld om de minifig  te maken, zoals hoeden, helmen, baarden, zuurstoftanks, schilden, petten en flippers. Daarnaast is er een grote hoeveelheid items zoals schoppen, bezems, zwaarden, speren en geweren.</p>
    </article>
    <article>
        <h1>Over ons</h1>
        <p></p>
    </article>
    </section>
    </main>
</body>
</html>