<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <title>Projecten</title>
</head>
<body id="home">
    <header>
        <h1 id="titel">Kies <span id="yellow">een</span> <span id="blue">project</span></h1>
    </header><hr>
    <main>
        <section>
            <article> 
                <figure>
                    <h3>Nationale Bank</h3>
                    <img src="assets/images/nationalebank.png" alt="Nationale Bank">
                    <figcaption><p><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Ffreebiesupply.com%2Flogos%2Fnationale-bank-van-belgie-logo%2F&psig=AOvVaw3FWvRwFmMw2NMjDN7_GR56&ust=1649242733552000&source=images&cd=vfe&ved=0CAcQjRxqFwoTCPD41Yvi_PYCFQAAAAAdAAAAABAV" target="_blank">Bron Foto</a></p></figcaption>
                </figure>
            </article>

            <article> 
                <figure>
                    <h3>Magic The Gathering</h3>
                    <img src="assets/images/magicTheGathering.jpg" alt="">
                    <figcaption><p><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fmagic.wizards.com%2Fen&psig=AOvVaw1a8zUFMCgg3DA3mxrSBqOC&ust=1649242695445000&source=images&cd=vfe&ved=0CAcQjRxqFwoTCLDEwPfl_PYCFQAAAAAdAAAAABAF" target="_blank">Bron Foto</a></p></figcaption>
                </figure>
            </article>

            <article> 
                <figure>
                    <h3>The One</h3>
                    <img src="assets/images/theOne.jpg" alt="The One">
                    <figcaption><p><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Flotr.fandom.com%2Fwiki%2FThe_Lord_of_the_Rings_film_trilogy&psig=AOvVaw0XD7zCir0FFt-FgxE644-M&ust=1649242606310000&source=images&cd=vfe&ved=0CAcQjRxqFwoTCJig4I3m_PYCFQAAAAAdAAAAABAE" target="_blank">Bron Foto</a></p></figcaption>
                </figure>
            </article>

            <article> 
                <figure>
                    <h3>Lego Masters</h3>
                    <a href="informatie.html" target="_blank"><img src="assets/images/legomasters.jpeg" alt="Lego Masters"></a>
                    <a href="/views/informatie.ejs"></a>
                    <figcaption><p><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.lego.com%2Fnl-be%2Fpage%2Flego-masters&psig=AOvVaw3sXfUAEN4aupkJfJFsZYHQ&ust=1649242542799000&source=images&cd=vfe&ved=0CAcQjRxqFwoTCODoip_m_PYCFQAAAAAdAAAAABAE" target="_blank">Bron Foto</a></p></figcaption>
                </figure>
            </article>

            <article> 
                <figure>
                    <h3>Fortnite</h3>
                    <img src="assets/images/fortnite.jpg" alt="Fortnite">
                    <figcaption><p><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fstore.epicgames.com%2Fen-US%2Fp%2Ffortnite&psig=AOvVaw0XnekJSUu7dvp3t75eWdvO&ust=1649242501193000&source=images&cd=vfe&ved=0CAcQjRxqFwoTCIDCibXm_PYCFQAAAAAdAAAAABAE" target="_blank">Bron Foto</a></p></figcaption>
                </figure>
            </article>

            <article> 
                <figure>
                    <h3>Fifa</h3>
                    <img src="assets/images/fifa.jpg" alt="Fifa">
                    <figcaption><p><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.skysports.com%2Ffootball%2Fnews%2F11095%2F11850142%2Ffifa-vows-more-transparency-with-publication-of-ethics-and-disciplinary-verdicts&psig=AOvVaw0IxPHuO2eAIIvGki4anerO&ust=1649242355756000&source=images&cd=vfe&ved=0CAcQjRxqFwoTCPD6oMjm_PYCFQAAAAAdAAAAABAE" target="_blank">Bron Foto</a></p></figcaption>
                </figure>
            </article>
        </section>
    </main>
</body>
</html>