<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>informatie</title>
    <script src="scripts/java.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <nav>
            <h1>logo</h1>
            <h1>InformatiePagina</h1>
            <ul>
                <li><a href="index.html">Hoofdpagina</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><input type="search" name="searchTerm" id="searchInput" placeholder="Zoek..."></li>
            </ul>
        </nav>
    </header>
    <hr>
    <main>
        <section>
            <article id="database">
                <p>Hier komt de data van de database.</p>
                <% for (var i = 0;i < data.length;i++){ %>
                    <div><%= data[i].Id %></div>
                <% } %>
            </article>
        </section>
        <section>
            <article>
                <h1>Minifigs</h1>
                <img src="images.jpg" alt="Minifigs" height="10">
                <p>Minifigs zijn ontworpen om als kleine mensen in de LEGO-wereld te leven. Deze omvatten het
                    onderlichaam met beweegbare benen bij de heup, het bovenlichaam, de armen gescheiden in één stuk, de
                    vrije armen (meestal geel) en het hoofd met een gezicht. De benen, heupen, romp en armen kunnen in
                    verschillende kleuren worden geleverd. Het lichaam wordt vaak bedrukt om kleding na te bootsen. In
                    de loop van de tijd zijn er verschillende items ontwikkeld om de minifig te maken, zoals hoeden,
                    helmen, baarden, zuurstoftanks, schilden, petten en flippers. Daarnaast is er een grote hoeveelheid
                    items zoals schoppen, bezems, zwaarden, speren en geweren.</p>
                <a href="">Lees meer</a>
            </article>
            <article id="miniFigs">

            </article>
        </section>
        <section>
            <article id="figSets">

            </article>
        </section>
    </main>
</body>

</html>