<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordenen</title>
    <script src="scripts/java.js" defer></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body id="ordenen">
    <header>
        <nav class="nav">
            <img src="assets/images/yaba.png" alt="Logo">
            <h1 class="titel">Minifigs ordenen</h1>
        </nav>
    </header>
    <main>
        <div id="aantal"></div>
        <table>
            <thead>
                <tr id="miniFigs"></tr>
            </thead>
            <tbody>
                <tr id="figSets"></tr>
                <tr id="blackList"></tr>
            </tbody>
        </table>
    </main>
    <footer>
        <p>&copy;YABA - Lego Masters</p>
    </footer>
</body>
</html>