<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parts</title>
    <script src="scripts/java.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<body id="bekijken">
    <header>
        <nav class="nav">
            <img src="assets/images/yaba.png" alt="Logo">
            <h1 class="titel">Geordende minifigs</h1>
        </nav>
    </header>
    <main>
        <table>
            <tr>
                <th>Foto</th>
                <th>Id</th>
            </tr> 
            <% console.log(data) %>
            <% for (let i = 0; i < data.length; i++) { %>
                <%= data[i].setId; %>
                    <tr>
                        <td><img src="<%= data[i].part.part_img_url %>" alt="" width="150"></a></td>
                        <td><%= data[i].part.name %></td>
                    </tr>
                <% }; %>
        </table>
    </main>
        <footer>
            <p>&copy;YABA - Lego Masters</p>
        </footer>
</body>
</html>