* {
    box-sizing: border-box;
    font-family: Arial, Georgia, sans-serif;

}
/*
article {
    height: 30vh;
}
*/
body {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    grid-template-areas:
        'header'
        'nav'
        'main'
        'footer';
    gap: 1rem;
}

header {
    grid-area: header;
    width: 80vw;
    background-color: brown;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    bottom: 0;
    width: 80vw;
    background-color: brown;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

#miniFigs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    gap: 0rem;
}

#miniFigs img,
#figSets img {
    height: 10rem;
    width: 10rem;
}

#figSets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    gap: 0rem;
}

#home,
#legomasters,
#bekijken,
#blacklist,
#ordenen {
    background-color: rgba(152, 98, 5, 0.483);
    margin: auto;
}

.titel {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.deelnemen {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: red;
    border-radius: 5rem;
}

.container:hover .overlay {
    opacity: 1;
}

.container {
    position: relative;
}

#home section img {
    border-radius: 5rem;
    border: 0.2rem dotted red;
    width: 250px;
    height: 250px;
    object-fit: fill;
    display: block;
}

#home section a {
    font-size: xx-small;
}

#home section {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#home section h3 {
    text-decoration: underline;
    text-align: center;
    font-size: 1.3rem;
    color: black;
}
/*
#home main,
#legomasters main,
#ordenen main {
    height: 45.6rem;
}
*/
header img {
    height: 80px;
    border-radius: 50%;
    padding: .5rem;
    position: absolute;
    left: 1vw;
}

.nav {
    display: flex;
    justify-content: center;
}

#obb {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
    
}

#obb a {
    color: white;
    background-image: linear-gradient(rgba(152, 98, 5, 0.483), brown, rgba(152, 98, 5, 0.483));
    padding: 6vw;
    text-align: center;
    border-radius: 50%;
    font-size: large;
}

nav a {
    background-image: linear-gradient(rgba(152, 98, 5, 0.483), brown, rgba(152, 98, 5, 0.483));
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25%;
}

#bnav {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 2rem;
    justify-content: center;
}

#legomasters section img {
    border-radius: 3rem;
    border: 0.2rem dotted red;
}

.naam {
    max-width: 5rem;
    text-align: justify;
    text-overflow: ellipsis;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin: auto;
    color: black;
}

/*bekijken*/


#bekijkenTabel table,
#blacklistTabel table {
    margin: auto;
    width: auto;
    border-collapse: collapse;
}

#bekijkenTabel th,
#blacklistTabel th {
    border: 0.2rem solid darkred;
    padding: 1rem;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

#bekijkenTabel td,
#blacklistTabel td {
    border: 0.2rem solid darkred;
    padding: 2rem;
}

#bekijkenTabel td img {
    height: 150px;
}

#ordenenTabel thead tr td {
    width: auto;
}

#ordenenTabel thead tr td p {
    width: 100%;
    padding: 0;
    margin: 0;
}

#legomasters footer,#ordenen footer{
    position: absolute;
    bottom: 0;
}

#ordenen main{
    margin-left: 2rem;
}

@media only screen and (max-width: 1200px) {

    #bekijkenTabel th,
    #blacklistTabel th {
        border: 0.2rem solid darkred;
        padding: .75rem;
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1rem;
    }

    #bekijkenTabel td,
    #blacklistTabel td {
        border: 0.2rem solid darkred;
        padding: 1rem;
    }

    #bekijkenTabel td img {
        height: 120px;
    }

    #ordenenTabel thead tr td {
        width: auto;
    }

    #ordenenTabel thead tr td p {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 770px) {

    /* stijlregels voor schermen > 320px en ≤ 770px breed */
    * {
        box-sizing: border-box;
        font-family: Arial, Georgia, sans-serif;

    }
    header,footer{
        width: 100%;
    }

    body {
        max-width: 100%;
    }

    #miniFigs img,
    #figSets img {
        height: 100px;
        width: 100px;
    }

    .titel {
        color: white;
        text-align: center;
        font-size: 2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #home .titel {
        margin-left: 0;
    }

    #home section img {
        height: 15rem;
        border-radius: 5rem;
        border: 0.2rem dotted red;
        width: 250px;
        height: 250px;
        object-fit: fill;
        display: block;
    }

    #home section {
        display: flex;
        
        flex-direction: row;
        flex-wrap: wrap;
    }

    #home section h3 {
        text-decoration: underline;
        text-align: center;
        font-size: 1.3rem;
        color: black;
    }
/*
    #legomasters main,
    #ordenen main {
        height: 45.6rem;
    }
/*
    #home main {
        height: 145rem;
    }
*/
    header img {
        height: 80px;
        border-radius: 50%;
        padding: .5rem;
    }

    .nav {
        display: flex;
        gap: 30%;
    }

    #bnav {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        gap: 1.5rem;
    }

    #obb {
        display: flex;
        gap: 3rem;
        flex-direction: column;
        margin: 0 auto;
        margin-left: 35%;
    }

    #obb a {
        color: white;
        background-image: linear-gradient(rgba(152, 98, 5, 0.483), brown, rgba(152, 98, 5, 0.483));
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        text-align: center;
        border-radius: 50%;
        font-size: medium;
        max-width: 15rem;
    }

    nav a {
        background-image: linear-gradient(rgba(152, 98, 5, 0.483), brown, rgba(152, 98, 5, 0.483));
        color: white;
        padding: 1rem;
        text-decoration: none;
        font-weight: bold;
        border-radius: 25%;
    }

    #legomasters section img {
        border-radius: 3rem;
        border: 0.2rem dotted red;
    }

    .naam {
        max-width: 5rem;
        text-align: justify;
        text-overflow: ellipsis;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1rem;
        margin: auto;
        color: black;
    }

    /*tabel*/
    #bekijkenTabel table,
    #blacklistTabel table {
        margin: 0 auto;
        width: 95vw;
        border-collapse: collapse;
    }

    #bekijkenTabel th,
    #blacklistTabel th {
        border: 0.1rem solid darkred;

        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1rem;
        width: 1rem;
    }

    #bekijkenTabel td,
    #blacklistTabel td {
        border: 0.1rem solid darkred;
        padding: 1rem;
    }

    #bekijkenTabel td img,
    #blacklistTabel td img {
        height: 100px;
    }

    #legomasters footer{
        position: relative;
    }
}

@media only screen and (max-width:560px) {
    .nav img{
        height: 0;
        width: 0;
    }
}

@media only screen and (max-width:320px) {

    /* stijlregels voor schermen ≤ 320px breed */
    * {
        box-sizing: border-box;
        font-family: Arial, Georgia, sans-serif;

    }

    #miniFigs img,
    #figSets img {
        height: 50px;
        width: 50px;
    }

    .titel {
        color: white;
        text-align: center;
        font-size: 1.3rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: -1rem;
    }

    #bekijken .titel,
    #blacklist .titel {
        margin-left: 5rem;
    }

    #home section img {
        border-radius: 5rem;
        border: 0.2rem dotted red;
        width: 200px;
        height: 200px;
        object-fit: fill;
        display: block;
    }

    #home section {
        display: flex;
        
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 1rem;
    }

    #home section h3 {
        text-decoration: underline;
        text-align: center;
        font-size: 1.3rem;
        color: black;
    }

    #legomasters main{
        display: flex;
        justify-content: center;
        padding: 0;
    }

    header img {
        height: 0px;
        border-radius: 50%;
        padding: .5rem;
    }

    .nav {
        display: flex;
        gap: 7%;
    }

    #bnav {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        gap: 0.9rem;
        font-size: x-small;
    }

    #obb {
        display: flex;
        gap: 3rem;
        flex-direction: column;
        margin: 0 auto;
    }

    #obb a {
        color: white;
        background-image: linear-gradient(rgba(152, 98, 5, 0.483), brown, rgba(152, 98, 5, 0.483));
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        text-align: center;
        border-radius: 50%;
        font-size: medium;
        max-width: 15rem;
    }

    nav a {
        background-image: linear-gradient(rgba(152, 98, 5, 0.483), brown, rgba(152, 98, 5, 0.483));
        color: white;
        padding: 1rem;
        text-decoration: none;
        font-weight: bold;
        border-radius: 25%;
    }

    #legomasters section img {
        border-radius: 3rem;
        border: 0.2rem dotted red;
    }

    .naam {
        max-width: 5rem;
        text-align: justify;
        text-overflow: ellipsis;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1rem;
        margin: auto;
        color: black;
    }

    /*tabel*/
    #bekijkenTabel table,
    #blacklistTabel table {
        margin: 0 auto;
        width: 95vw;
        border-collapse: collapse;
    }

    #bekijkenTabel th,
    #blacklistTabel th {
        border: 0.1rem solid darkred;
        padding: 0;
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: .75rem;
        width:auto;
    }

    #bekijkenTabel td,
    #blacklistTabel td {
        border: 0.1rem solid darkred;
        padding: 0;
    }

    #bekijkenTabel td img,
    #blacklistTabel td img {
        height: 50px;
    }

    input{
        width: 5rem;
    }
}