* {
    box-sizing: border-box;
    font-family: Arial, Georgia, sans-serif;
    
}

article{
    height: 30vh;
}

body {
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas:
      'header'
      'main'  
      'footer'; 
  }

  header {grid-area: header;}
  main {grid-area: main;}
  footer {grid-area: footer;}

#miniFigs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    gap: 0rem;
}
#miniFigs img, #figSets img{
    height: 10rem;
    width: 10rem;
}
#figSets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    gap: 0rem;
}
header{
    background-color: brown;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#home, #legomasters, #bekijken, #blacklist, #ordenen{
    background-color: rgba(152, 98, 5, 0.483);
    margin: auto;
}
footer{
    background-color: brown;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titel{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.deelnemen {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: red;
    border-radius: 5rem;
}

.container:hover .overlay {
    opacity: 1;
}
.container{
    position: relative;
}

#home section img{
    height: 15rem;
    border-radius: 5rem;
    border: 0.2rem dotted red;
    width: 250px;
    height: 250px;
    object-fit: fill;
    display: block;
}
#home section a {
    font-size: xx-small;
}

#home section {
    display: flex;
    gap: 5rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10rem;
}
#home section h3{
    text-decoration: underline;
    text-align: center;
    font-size: 1.3rem;
    color: black;
}

#home main{
    height: 47rem;
}

header img{
    height: 80px;
    border-radius: 50%;
    padding: .5rem;
}
.nav{
    display: flex;
    gap: 30%;
}

#legomasters section img{
    border-radius: 3rem;
    border: 0.2rem dotted red;
}

.naam{
    max-width: 5rem;
    text-align: justify;
    text-overflow: ellipsis;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin: auto;
    color: black;
}
/*bekijken*/

#bekijken table{
    margin: auto;

    width: 90rem;
}
#bekijken th{
    border: 0.2rem solid blueviolet;
    padding: 2rem;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    border-top-left-radius: 3rem; 
    border-top-right-radius: 3rem;
}
#bekijken td{
    border: 0.2rem solid blueviolet;
    padding: 6rem;
}